body{
    text-align: center;
    margin-top: 150px;
    transition: background-color 0.5;
}

.button{
    height: 100px;
    width: 100px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.blue{
    background-color:#2196F3;
}.yellow{
    background-color: #FFEB3B;
}